body {
    background-color: beige;
}

p {
    font-style: italic;
}

ol { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: maroon;
}


.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}